* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HTML: <div class="loader"></div> */
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}

.product-list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
}
.product-listing {
    width: 200px;
    list-style-type: none;
    margin: 0.5rem;
    background-color: white;
    padding: 0.2rem;
}

.product-listing img {
    width: 100%;
    background-color: whitesmoke;
}

.price-container {
    display: flex;
    font-size: 0.95rem;
}
.discount-price {
    padding-right: 0.5rem;
}
.list-price {
    font-size: 0.8rem;
}

.list-price span {
    text-decoration: line-through;
}

.title{
    font-weight: bold;
}

.product-listing:hover .title {
    color: rgb(148, 148, 0);
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.788);
}

.product-details {
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    background-color: white;
}

.product-details img {
    width: 50%;
}